*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
.header {
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid rgb(196, 190, 190);
    width: 100%;
    
}
.header-left {
display: flex;
}
.header-left a {
    display: flex;
}
.header-left img{
height: 50px;
width: 130px;
cursor: pointer;
margin: auto;
margin-left: 20px;

}
.header-left ul{
display: flex;
}
.header-left li{
    list-style: none;
}
.header-left .navigation-link:hover {
    text-decoration: none;
    color: #2c31cf;
}
.header-left .navigation-link:hover::after{
    content: "";
    border-bottom: 3px solid #2c31cf;
    position: absolute;
    top: 40px;
    right: 1px;
    width: 100%;
}
.header-left .navigation-link{
text-decoration: none;
color: #3b3c54;
font-size: 17px;
margin-right: 29px;
font-weight: 600;
line-height: 35px;
position: relative;
transition: linear 0.3s ease;
}
.navigation-link-active {
    text-decoration: none;
color: #2c31cf;
font-size: 17px;
margin-right: 29px;
font-weight: 600;
line-height: 35px;
position: relative;
margin-right: 29px;
display: block;
}
.navigation-link-active::after {
    content: "";
    border-bottom: 3px solid #2c31cf;
    position: absolute;
    top: 40px;
    right: 1px;
    width: 100%;
}
.header-right{
    display: flex;
    align-items: center;
    margin-top: 12px;
    justify-content: flex-end;
    
}
.header-right img{
width: 30px;
height: 30px;
cursor: pointer;

}
.header-right .learning-login-button:hover {
    background-color: #4d96ff;
    color: white;
}
.header-right .learning-login-button{
    width: 90px;
height: 38px;
border-width: 0px;
background-color: transparent;
color: black;
font-weight: bold;
border-radius: 4px;
transition: linear 300ms;
cursor: pointer;
margin-left: 20px
}
.header-right .learning-register-button:hover {
    background-color: #4d96ff;
}
.header-right .learning-register-button{
    width: 90px;
    height: 38px;
    border-width: 0px;
    background-color: #e8505b;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    transition: linear 300ms;
    margin-right: 20px;
    margin-left: 2px;
    cursor: pointer;
}
.class {
    position: relative;
    top: 10px;
    margin-bottom: 20px;
}
.class span a:hover {
        color: black;
        text-decoration: underline;
}
.class span a {
        color: #4d96ff;
        text-decoration: none;
        font-size: 13px;
}
.class i {
        color: #4d96ff;
        margin: 0 5px;
        font-size: 13px;
}
.main {
    background-color: #f1f1f1;
    position: relative;
    top: 68px;
}
.main-banner {
    border-radius: 5px;
    width: 100%;
}
.main-banner-image img {
    width: 100%;
}
.main-banner-toltal {
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    
    align-items: center;
}
.main-banner-toltal label {
    color: #898989;
    margin-right: 100px;
    margin-left: 20px;
    font-size: 18px;
}
.main-banner-toltal label span {
    color: #f00;
    font-weight: bold;
    font-size: 18px;
}
.main-banner-toltal span {
    font-size: 18px;
    
}
.main-control{
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
}

.main-control-public {
width: 100%;
height: 60px;
border-bottom: 1px solid #b9b2b2;
display: flex;
align-items: center;
padding-left: 21px;
}
.main-control-public-link-active{
   color: #4d96ff; 
   font-size: 20px;
   text-decoration: none;
   position: relative;
   margin-right: 30px;
}
.main-control-public-link-active::after {
    border-bottom: 2.5px solid #4d96ff;
    width: 124%;
    position: absolute;
    content: "";
    right: -6px;
    top: 40px;
}
.main-control-public-link:hover {
    color: #4d96ff;
    transition: all 0.3s;
}
.main-control-public-link:hover::after {
    border-bottom: 2.5px solid #4d96ff;
    width: 124%;
    position: absolute;
    content: "";
    right: -6px;
    top: 40px;
   
}
.main-control-public-link{
 color: #555;
 font-size: 20px;
 text-decoration: none;
 position: relative;
}
.main-control-search {
    width: 100%;
height: 60px;
display: flex;
align-items: center;
padding-left: 21px;
position: relative;
}
.main-control-search input {
    width: 420px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #b9b2b2;
    outline: none;
    padding-left: 15px;
    color: #d3cccc;
    font-size: 15px;
   
}
.main-control-search i:hover {
    background-color: #2c31cf;
    color: white;
}
.main-control-search i {
    color: #4d96ff;
    width: 33px;
    height: 33px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 407px;
    top: 13.5px;
    cursor: pointer;
    transition: all 0.4s;
}
.main-content{
    width: 100%;
    background-color: white;
    margin-top: 10px;
}
.main-content-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.main-content-logo img{
    width: 100px;
    
}
.main-content-info{
padding: 60px 10px;
}
.main-content-info-heading{

}
.main-content-info-heading a:hover {
    text-decoration: underline;
}
.main-content-info-heading a{
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
}
.main-content-info-heading p{
color: #898989;
font-size: 18px;
margin: 0;
}
.main-content-info-user{
    display: flex;
    width: 100%;
    height: 90px;
}
.main-content-info-user .item{
display: flex;
margin-right: 15px;
margin-top: 20px;

}
.main-content-info-user .item .avatar {
    width: 60px;
}
.main-content-info-user .item .avatar-frames{
    width: 60px;
    height: 60px;
position: relative;
}
.main-content-info-user .item .avatar-image{
width: 40px;
height: 40px;
border-radius: 50px;
position: relative;
top: -60px;
right: -10px;
}
.main-content-info-user .user{
min-width: 60px;
text-align: center;
margin-top: 7px;
}
.main-content-info-user .user p{
margin: 0;
}
.main-content-info-tag{
    width: 100%;
    margin-top: 15px;
}
.main-content-info-tag span{
    color: #898989;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 5px;
    margin-right: 7px;
}
.main-content-user{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;

}
.main-content-user i {
    color: #898989;
    font-size: 30px;
}
.main-content-user p {
    color: #898989;
    font-size: 20px;
    margin: 5px;
}
.main-content-day-finish {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.main-content-day-finish p {
    font-size: 20px;
    color: #898989;
    margin: 5px;
}
.main-content-day-finish button {
    width: 110px;
    height: 40px;
    background-color: #898989;
    color: white;
    border-radius: 4px;
    border-width: 0px;
    font-size: 16px;
    cursor: pointer;
}
.main-content-background {
    background-color: #f3f9ff;
}
/*control*/
.main-control-task {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 60px;
}
.main-control-task .button:hover {
    background-color: #2c31cf;
    color: white;
}
.main-control-task .button {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border-width: 0px;
    background-color: white;
    color: #2c31cf;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 3px;
}
.main-control-task .button-primary {
    background-color: #2c31cf;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border-width: 0px;
    margin-right: 3px;
}
/*footer*/
footer {
   
    border-top: 2px solid rgb(219, 214, 214);
}

.footer {
    display: flex;
    margin: 0 auto; 
    padding: 30px 80px;
    margin-top: 70px;
}

.footer .footer-category-logo p{
    font-size: 20px;
}
.footer-category-item a:hover {
    color: #2c31cf;
}
.footer-category-item a {
    text-decoration: white;
    font-size: 20px;
    line-height: 30px;
}

.footer-category-logo img{
    margin-bottom: px;
}
.footer-category-logo-mxh i {
font-size: 35px;
cursor: pointer;
}
.footer-category-logo-mxh .icoin-fb:hover {
    color:#2c477e ;
}
.footer-category-logo-mxh .icoin-fb{
color: #36589d;
transform: ;
}
.footer-category-logo-mxh .icoin-ytb:hover{
    color:#8e0c0c ;
}
.footer-category-logo-mxh .icoin-ytb{
color: #b21010;
}
.footer-category-logo-mxh .icoin-tw:hover{
    color:#0081c7 ;
}
.footer-category-logo-mxh .icoin-tw{
color: #0081c7;
}
.footer-category-logo-mxh .icoin-ins:hover {
    color: #981572;
}
.footer-category-logo-mxh .icoin-ins{
color: #bf1b8f;
}
.footer-category-item ul {
text-align: left;
}
.footer-category-item h3 {
    font-size: 24px;
    color: #2c31cf;
}

.footer-category-item li {
list-style: none;
}
.footer-category-item a:hover {
right: -4px;
text-decoration: none;
}
.footer-category-item a {
color: #666 ;
position: relative;
right: 0;
transition: right linear 0.1s;
display: inline-block;

}
.footer-end {
    width: 100%;
    height: 50px;
    background-color: #1c1d31;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.footer-end img {
    width: 50px;
    margin-right: 20px;

}
.footer-end span {
    color: white;
    font-size: 14px;
}
