*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid rgb(196, 190, 190);
    width: 100%;
    
}
.header-left {
display: flex;
}
.header-left a {
    display: flex;
}
.header-left img{
height: 50px;
width: 130px;
cursor: pointer;
margin: auto;
margin-left: 20px;

}
.header-left ul{
display: flex;
}
.header-left li{
    list-style: none;
}
.header-left .navigation-link:hover {
    text-decoration: none;
    color: #2c31cf;
}
.header-left .navigation-link:hover::after{
    content: "";
    border-bottom: 3px solid #2c31cf;
    position: absolute;
    top: 40px;
    right: 1px;
    width: 100%;
}
.header-left .navigation-link{
text-decoration: none;
color: #3b3c54;
font-weight: 600;
font-size: 17px;
margin-right: 29px;

line-height: 35px;
position: relative;
transition: linear 0.3s ease;
}
.navigation-link-active {
    text-decoration: none;
color: #2c31cf;
font-weight: 600;
font-size: 17px;
margin-right: 29px;

line-height: 35px;
position: relative;
margin-right: 29px;
display: block;
}
.navigation-link-active::after {
    content: "";
    border-bottom: 3px solid #2c31cf;
    position: absolute;
    top: 40px;
    right: 1px;
    width: 100%;
}
.header-right{
    display: flex;
    align-items: center;
    margin-top: 12px;
    justify-content: flex-end;
    
}
.header-right img{
width: 30px;
height: 30px;
cursor: pointer;

}
.header-right .learning-login-button:hover {
    background-color: #4d96ff;
    color: white;
}
.header-right .learning-login-button{
    width: 90px;
height: 38px;
border-width: 0px;
background-color: transparent;
color: black;
font-weight: bold;
border-radius: 4px;
transition: linear 300ms;
cursor: pointer;
margin-left: 20px
}
.header-right .learning-register-button:hover {
    background-color: #4d96ff;
}
.header-right .learning-register-button{
    width: 90px;
    height: 38px;
    border-width: 0px;
    background-color: #e8505b;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    transition: linear 300ms;
    margin-right: 20px;
    margin-left: 2px;
    cursor: pointer;
}
.main {
position: relative;
background-color: #f1f1f1;
}
.class {
position: relative;
top: 73px;
margin-bottom: 82px;

}
.class span a:hover {
    color: black;
    text-decoration: underline;
}
.class span a {
    color: #4d96ff;
    text-decoration: none;
    font-size: 13px;
}
.class i {
    color: #4d96ff;
    margin: 0 5px;
    font-size: 13px;
}
..main-banner {
    margin-top: 95px;
}
.main-banner-left {
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 #dedede;
    width: 100%;
    height: 306px;
    position: relative;
}
.main-banner-left-image {
    width: 100%;
    height: 250px;
}
.main-banner-left-image img {
    width: 100%;
    height: 250px;
    
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.main-banner-left-toltal {
 display: flex;
 width: 100%;
 height: 60px;
align-items: center;
}
.main-banner-left-toltal img {
    position: absolute;
    top: 170px;
    left: 15px;
   
}
.main-banner-left-toltal label {
    color: #898989;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-banner-left-toltal .easy span {
    color: #77c148;
    font-size: 26px;
    margin-left: 10px;
}

.main-banner-left-toltal .medium span {
    color: #faa05e;
    font-size: 26px;
    margin-left: 10px;
}

.main-banner-right {
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 #dedede;
    width: 276px;
    height: 307px;
    display: flex;
    justify-content: center;
    padding: 26px 0px;
    background-color: #1a416a;
    position: relative;
    flex-wrap: wrap;
}
.main-banner-right::after {
    content: "HOT CHALLENGE";
    background-color: #ee4035;
    box-shadow: 0 5px 10px 0 rgb(0 ,0 ,0 , 50%);
    height: 35px;
    width: 168px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;

}
.main-banner-right-image .filip-color {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.main-banner-right-image .filip-color a:hover{
text-decoration: underline;
}
.main-banner-right-image .filip-color a {
color: white;
font-weight: bold;
text-decoration: none;
margin-right: 10px;
}
.main-banner-right-image .filip-color span {
    width: 44px;
    color: white;
    font-size: 14px;
    height: 22px;
    background-color: #77c148;
    display: block;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-banner-right-image .ez {
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}
.main-banner-right-image .ez span {
    display: flex;
    width: 35px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #92b8ec;
    color: #92b8ec;
    align-items: center;
    justify-content: center;
}
.main-banner-right-image .avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.main-banner-right-image .avatar img {
width: 40px;
height: 40px;
}
.main-banner-right-image .the-winner {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.main-banner-right-image .the-winner a:hover{
    color: #337ab7;
    text-decoration: underline;
}
.main-banner-right-image .the-winner a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.main-banner-right-toltal {
    width: 100%;
    height: 60px;
    background-color: white;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.main-banner-right-toltal span {
    color: #898989;
}
.main-task {
margin-top: 40px;
}
.main-task-item {
    width: 100%;
    box-shadow: 0px 3px 16px 1px #dedede;
    background-color: white;
    border-radius: 3px;
    padding: 18px 10px 7px 10px;
    margin-bottom: 24px;
}
.main-task-item .filip-color {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;

}
.main-task-item .filip-color a:hover {
    text-decoration: underline;
}
.main-task-item .filip-color a{
    color: black;
font-weight: bold;
text-decoration: none;
margin-right: 10px;
}
.main-task-item .filip-color .btn {
    min-width: 44px;
    padding: 0 5px;
    color: white;
    font-size: 14px;
    height: 22px;
    display: block;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.easy-btn-green {
    background-color: #77c148;

}
.medium-btn-orange {
    background-color: #faa05e;
}
.main-task-item .ez {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
}
.main-task-item .ez span {
    display: flex;
    margin-right: 7px;
    min-width: 35px;
    padding: 0 7px;
    height: 25px;
    border-radius: 3px;
    background-color: #ebebeb;
    color: #898980;
    align-items: center;
    justify-content: center;
}
.main-task-item .avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
}
.main-task-item .avatar img {
    width: 40px;
height: 40px;
}
.main-task-item .the-winner {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
}
.main-task-item .the-winner a:hover {
    color: #4d96ff;
    text-decoration: underline;
}
.main-task-item .the-winner a {
    color: #898989;
    text-decoration: none;
}
.main-task-item .toltal {
    display: flex;
    justify-content: space-between;
}
.main-task-item .toltal span {
    color: #898980;
}
.main-control {
    text-align: center;
    padding-bottom: 100px;
}
.main-control .button:hover {
    background-color: #2c31cf;
    color: white;
}
.main-control .button {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border-width: 0px;
    background-color: white;
    color: #2c31cf;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 3px;
}
.main-control .button-primary {
    background-color: #2c31cf;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border-width: 0px;
    margin-right: 3px;
}
footer {
   
    border-top: 2px solid rgb(219, 214, 214);
}

.footer {
    display: flex;
    margin: 0 auto; 
    padding: 30px 80px;

}

.footer .footer-category-logo p{
    font-size: 20px;
}
.footer-category-item a:hover {
    color: #2c31cf;
}
.footer-category-item a {
    text-decoration: white;
    font-size: 20px;
    line-height: 30px;
}

.footer-category-logo img{
    margin-bottom: px;
}
.footer-category-logo-mxh i {
font-size: 35px;
cursor: pointer;
}
.footer-category-logo-mxh .icoin-fb:hover {
    color:#2c477e ;
}
.footer-category-logo-mxh .icoin-fb{
color: #36589d;
transform: ;
}
.footer-category-logo-mxh .icoin-ytb:hover{
    color:#8e0c0c ;
}
.footer-category-logo-mxh .icoin-ytb{
color: #b21010;
}
.footer-category-logo-mxh .icoin-tw:hover{
    color:#0081c7 ;
}
.footer-category-logo-mxh .icoin-tw{
color: #0081c7;
}
.footer-category-logo-mxh .icoin-ins:hover {
    color: #981572;
}
.footer-category-logo-mxh .icoin-ins{
color: #bf1b8f;
}
.footer-category-item ul {
text-align: left;
}
.footer-category-item h3 {
    font-size: 24px;
    color: #2c31cf;
}

.footer-category-item li {
list-style: none;
}
.footer-category-item a:hover {
right: -4px;
text-decoration: none;
}
.footer-category-item a {
color: #666 ;
position: relative;
right: 0;
transition: right linear 0.1s;
display: inline-block;

}
.footer-end {
    width: 100%;
    height: 50px;
    background-color: #1c1d31;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.footer-end img {
    width: 50px;
    margin-right: 20px;

}
.footer-end span {
    color: white;
    font-size: 14px;
}